@model Gupshupcampainmanager.Models.CustomerViewModel
@{
    bool isEdit = Model?.Id > 0;
    string formAction = isEdit ? "Edit Customer" : "Create Customer";
    string pageTitle = isEdit ? "Edit Customer" : "Add Customer";
    string buttonText = isEdit ? "Update" : "Save";
}


            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h3 class="mb-2">Save Campaign</h3>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Save Campaign</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="card p-4">
            <h2 class="text-center mb-4">@pageTitle</h2>

            <form asp-controller="Campaign" asp-action="AddEditCustomer" method="post">
                @Html.AntiForgeryToken()

                @* Hidden field for ID in Edit mode *@
                @if (isEdit)
                {
                        <input type="hidden" name="Id" value="@Model.Id" />
                }

                <div class="mb-3">
                    <label for="CustomerName" class="form-label">Customer Name</label>
                    <input type="text" class="form-control" id="Name" name="CustomerName" value="@Model?.CustomerName" required />
                </div>

                <div class="mb-3">
                    <label for="MobileNo" class="form-label">Mobile Number</label>
                    <input type="tel" class="form-control" id="MobileNo" name="MobileNo" value="@Model?.MobileNo" required pattern="\d{10}" maxlength="10" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>

                </div>
                @* <input type="hidden" name="Address" value="@Model?.Address" /> *@
                <button type="submit" class="btn btn-primary mr-2">@buttonText</button>
                <a href="@Url.Action("CustomerList", "Campaign")" class="btn btn-danger mr-2">Cancel</a>
            </form>

            @if (ViewBag.ResponseMessage != null)
            {
                    <div class="alert @(ViewBag.AlertClass ?? "alert-info") mt-3" role="alert">
                    @ViewBag.ResponseMessage
                    </div>
            }
        </div>
    </div>
</div>