@model Gupshupcampainmanager.Models.customerResponse
@{
    string pageTitle = ViewData["Title"]?.ToString() ?? "Customer List";
}


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h3 class="mb-2">Context</h3>
            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Context</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Customer List</h5>
            <div class="card-body">
                <div class="d-flex justify-content-end mb-2">
                    <a href="@Url.Action("Createcampaign")" class="btn btn-primary btn-sm">
                        <i class="fa fa-user"></i> Add
                    </a>
                </div>

                <div class="table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @*  <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option>


                        </select> 
                        entries</label></div></div> *@
                        @* <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                            </div>

                        </div> *@


                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped align-middle">
                                    <thead class="table-light">
                                        <tr>

                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Mobile No.</th>
                                            <th>Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var list in Model.Customers)
                                        {
                                            <tr>
                                                <td>@list.Id</td>
                                                <td>@list.CustomerName</td>
                                                <td>@list.MobileNo</td>
                                                <td>@list.Address</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->
</div>